body {
    background-color: rgb(0, 0, 0);

}

* {
    margin: 0;
}


.container {
    background-color: black;
    color: white;
}


/********************** Menü CSS Başlangıç ****************************/

.navbar {
    background-color: black;
    width: 100%;
    min-width: min-content;
    height: 60px;
    color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 50px;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0px;
}

.menu-list-item {
    margin-right: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(228, 37, 37);
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: lighter;
    transition: 0.5s all ease;
}

.menu-list-item.active {
    font-weight: bold;
    transition: 0.5s all ease;
}

.menu-list-item:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s all ease;
}

.logo {
    color: rgb(255, 19, 19);
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 26px;
}

.profil {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profil img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.profil-ok {
    cursor: pointer;

}

.profil-text {
    display: flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
}

.toggle {
    background-color: whitesmoke;
    width: 40px;
    border-radius: 12px;
    padding: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.sidebar {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    min-height: min-content;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    row-gap: 40px;
    position: fixed;
    z-index: 1;
}

.sidebar i {
    font-size: 20px;
    cursor: pointer;
}

.sidebar i:hover {
    color: rgb(255, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

/*************************************** Menü CSS Bitiş ***************************************/



/************************************ Ana Content Başlangıç ***********************************/

.content-wrapper {
    margin-left: 50px;
}

.featured-content {
    background: url(Pictures/batman-dc-superheroes-dc-comics-cosplay-3840x2160-954.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    /* calc() metoduyla bu tarz işlemler yapabiliriz.*/

}

.featured-title-logo {
    width: 30%;
    height: 30%;
    left: 5%;
    min-width: min-content;
    object-fit: cover;
    position: static;


}

.featured-description {
    width: 25%;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-weight: bold;
    color: whitesmoke;
    padding: 6px;
    border-radius: 3px;
    background-color: rgba(41, 41, 41, 0.323);
}

.featured-button {

    height: 35px;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}

.featured-button button {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.747);
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}

.featured-button button:hover {
    padding-right: 10.5%;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.724);
    color: rgb(255, 255, 255);
    transition: 1s;
}

/************************************** Ana Content Bitiş ************************************/

/************************************** Film Kategori Başlangıç ******************************/

.movie-list-filter {
    margin: 25px 0 20px 50px;
    padding: 20px;
}

.movie-list-filter select {
    width: 150px;
    font-size: 18px;
    background-color: wheat;
    border: 2px solid white;
    border-radius: 3px;
    color: whitesmoke;
    border: none;
}

.movie-list-container {
    margin-left: 70px;
    margin-bottom: 170px;
    position: relative;
}

.movie-list {
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.movie-item {
    margin-top: 50px;
    position: relative;
}

.movie-list-wrapper {
    margin-top: 40px;
}

.movie-list-title {
    font-size: 45px;
}

.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
    opacity: 1;
    transition: 1s;
    margin: 0 10px;
    font-size: 26px;

}

.movie-item:hover .movie-item-img {
    opacity: 0.8;
    margin: 0 10px;
    transition: 1s;
}

.movie-item-img {
    width: 270px;
    height: 360px;
    transition: 0.7s;

}

.movie-item-title {
    background-color: rgba(0, 0, 0, 0.891);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    bottom: -10%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: 1s all ease-in-out;
}

.movie-item-buttons {
    background-color: rgba(16, 15, 15, 0.796);
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 3.5px;
    left: 50px;
    display: flex;
    column-gap: 20px;
    opacity: 0;
    text-align: center;
    transition: 1s all ease-in-out;
}

.movie-item-buttons i {
    cursor: pointer;
    opacity: .5;
    font-size: 20px;
    transition: 0.5s all ease;
}

.movie-item-buttons i:hover {
    cursor: pointer;
    opacity: 1;
    font-size: 20px;
    transition: 0.5s all ease;
}

.fa-chevron-right {
    color: rgba(255, 255, 255, 0.55);
    display: flex;
    width: 80px;
    height: 120px;
    font-size: 120px;
    position: absolute;
    right: 0;
    bottom: 50px;
    transition: 0.4s all ease;
}

.fa-chevron-right:hover {
    color: rgb(255, 255, 255);
    transition: 1s all ease;
    cursor: pointer;
}


/************************************** Film Kategori Bitiş ******************************/


/************************************** Dark Mode Başlangıç ******************************/

.container.active {
    background-color: white;
}

.navbar.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
    color: black;
}

.toggle.active{
    background-color: black;
}
.toggle-ball.active{
    background-color: white;
    transform: translateX(-24px);
}

.menu-list-item.active {
    margin-right: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: lighter;
    transition: 0.5s all ease;
}

.logo.active {
    color: rgb(0, 0, 0);
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 26px;
}

.featured-button button.active {
    border-radius: 6px;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}

.featured-button button:hover.active {
    padding-right: 10.5%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.724);
    color: rgb(255, 255, 255);
    transition: 1s;
}

.movie-list-filter select.active {
    width: 150px;
    font-size: 18px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    
}

.movie-item-title.active {
    background-color: white;
    color: black;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    bottom: -10%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: 1s all ease-in-out;
}

.movie-item:hover .movie-item-img.active {
    opacity: 0.95;
    margin: 0 10px;
    transition: 1s;
}

.movie-item-buttons.active {
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 3.5px;
    left: 50px;
    display: flex;
    column-gap: 20px;
    opacity: 0;
    text-align: center;
    transition: 1s all ease-in-out;
}

.movie-item-buttons i.active {
    cursor: pointer;
    opacity: .8;
    font-size: 20px;
    transition: 0.5s all ease;
}

.movie-item-buttons i:hover.active {
    cursor: pointer;
    opacity: 1;
    font-size: 20px;
    transition: 0.5s all ease;
}

.fa-chevron-right.active {
    color: rgba(255, 255, 255, 0.381);
    display: flex;
    width: 80px;
    height: 120px;
    font-size: 120px;
    position: absolute;
    right: 0;
    bottom: 50px;
    transition: 0.4s all ease;
}

.fa-chevron-right:hover.active {
    color: rgba(255, 255, 255, 0.737);
    transition: 1s all ease;
    cursor: pointer;
}

/**************************************** Dark Mode Bitiş ********************************/