body {
    background-color: rgb(56, 58, 58);
}

* {
    margin: 0;
}


/********************** Menü CSS Başlangıç ****************************/

.navbar {
    background-color: black;
    width: 100%;
    min-width: min-content;
    height: 60px;
    color: whitesmoke;
    position: sticky;
    top: 0;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 50px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 15px;
    font-size: 20px;
    font-family: fantasy;
    color: rgb(228, 37, 37);
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

.menu-list-item.active {
    font-weight: bold;
}

.menu-list-item:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.logo {
    color: rgb(255, 19, 19);
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 26px;
}

.profil {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profil img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.profil-ok {
    cursor: pointer;

}

.profil-text {
    display: flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
}

.toggle {
    background-color: whitesmoke;
    width: 40px;
    border-radius: 12px;
    padding: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.sidebar {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    min-height: min-content;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    row-gap: 40px;
    position: fixed;
}

.sidebar i {
    font-size: 20px;
    cursor: pointer;
}

.sidebar i:hover {
    color: rgb(255, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

/*************************************** Menü CSS Bitiş ***************************************/



/************************************ Ana Content Başlangıç ***********************************/

.content-wrapper {
    margin-left: 50px;
}

.featured-content {
    background: url(Pictures/batman-dc-superheroes-dc-comics-cosplay-3840x2160-954.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    /* calc() metoduyla bu tarz işlemler yapabiliriz.*/

}

.featured-title-logo {
    width: 30%;
    height: 30%;
    left: 5%;
    min-width: min-content;
    object-fit: cover;
    position: static;


}

.featured-description {
    width: 25%;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-weight: bold;
    color: whitesmoke;
    padding: 6px;
    border-radius: 3px;
    background-color: rgba(41, 41, 41, 0.323);
}

.featured-button {
    
    height: 35px;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}

.featured-button button {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.747);
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.featured-button button:hover {
    padding-right: 10.5%;
    border-radius: 6px; 
    background-color: rgba(255, 0, 0, 0.724);
    color: rgb(255, 255, 255);
    transition: 1s;
}




/************************************** Ana Content Bitiş ************************************/